PyMySQL==0.7.2
aiohttp==1.0.5
argumentparser==1.2.1
astroid==1.4.4
async-timeout==1.1.0
chardet==2.3.0
colorama==0.3.7
discord.py==0.15.1
lazy-object-proxy==1.2.1
multidict==2.1.4
pylint==1.5.4
six==1.10.0
websockets==3.2
wrapt==1.10.6
